<!-- Page Heading
		================================================== -->
		<div class="page-heading page-heading--horizontal effect-duotone effect-duotone--primary">
			<div class="container">
				<div class="row">
					<div class="col align-self-start">
						<h1 class="page-heading__title">Reactr Raptr<span class="highlight"> Resources</span></h1>
					</div>
					<div class="col align-self-end">
						<ol class="page-heading__breadcrumb breadcrumb font-italic">
							<li class="breadcrumb-item"><a href="#">Home</a></li>
							<li class="breadcrumb-item active" aria-current="page">Resources</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
		<!-- Page Heading / End -->
<div class="container mt-5">

  <div class="row mt-5">
    <div class="col">
      <h5>Unordered List</h5>
      <ul class="list">
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
      </ul>
      <h5>Ordered List</h5>
      <ol class="list">
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
      </ol>
    </div>
    <div class="col">
      <h5>Links & Warnings</h5>
      <p><a href="#">Link</a></p>
      <p class="text-success">Success</p>
      <p class="text-danger">Danger</p>
      <p class="text-warning">Warning</p>
      <p class="text-info">Info</p>
    </div>
    <div class="col">
      <h5>Paragraph</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation de laboris nisi ut aliquip ex ea com modo consequat. Duis aute irure dolor in erit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <div class="spacer"></div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col">
      <!-- Alerts -->
      <h5 class="pb-4">Alerts</h5>
      <div class="alert alert-warning alert--rounded">
        <strong>Do you have an account? <a href="#">Click Here</a> to login now and create a new account</strong>
      </div>
  
      <div class="alert alert-danger alert--rounded alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Error Box!</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
      </div>
  
      <div class="alert alert-info alert--rounded">
        <strong>Info Box!</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
      </div>
  
      <div class="alert alert-success alert--rounded">
        <button type="button" class="btn btn-xs btn-default alert-btn-right">Go back to Home</button>
        <strong>Success box with Button!</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col">
      <!-- Buttons -->
      <h5 class="pb-4">Buttons</h5>
      <div class="row mt-4">
        <div class="col-sm-6 col-xl-3">
          <p>
            <a href="#" class="btn btn-default btn-lg">Large Button</a>
          </p>
          <p>
            <a href="#" class="btn btn-default">Medium Button</a>
          </p>
          <p>
            <a href="#" class="btn btn-default btn-sm">Small Button</a>
          </p>
          <p>
            <a href="#" class="btn btn-default btn-xs">Extra Small</a>
          </p>
        </div>
        <div class="col-sm-6 col-xl-3">
          <p>
            <a href="#" class="btn btn-primary btn-lg">Large Button</a>
          </p>
          <p>
            <a href="#" class="btn btn-primary">Medium Button</a>
          </p>
          <p>
            <a href="#" class="btn btn-primary btn-sm">Small Button</a>
          </p>
          <p>
            <a href="#" class="btn btn-primary btn-xs">Extra Small</a>
          </p>
        </div>
        <div class="col-sm-6 col-xl-3">
          <p>
            <a href="#" class="btn btn-primary-inverse btn-lg">Large Button</a>
          </p>
          <p>
            <a href="#" class="btn btn-primary-inverse">Medium Button</a>
          </p>
          <p>
            <a href="#" class="btn btn-primary-inverse btn-sm">Small Button</a>
          </p>
          <p>
            <a href="#" class="btn btn-primary-inverse btn-xs">Extra Small</a>
          </p>
        </div>
        <div class="col-sm-6 col-xl-3">
          <p>
            <a href="#" class="btn btn-default-alt btn-lg">Large Button</a>
          </p>
          <p>
            <a href="#" class="btn btn-default-alt">Medium Button</a>
          </p>
          <p>
            <a href="#" class="btn btn-default-alt btn-sm">Small Button</a>
          </p>
          <p>
            <a href="#" class="btn btn-default-alt btn-xs">Extra Small</a>
          </p>
        </div>
      </div>
  
      <div class="spacer"></div>
  
      <div class="row  mt-4">
        <div class="col-sm-6 col-xl-3">
          <p>
            <a href="#" class="btn btn-success btn-lg">Large Button</a>
          </p>
          <p>
            <a href="#" class="btn btn-success">Medium Button</a>
          </p>
          <p>
            <a href="#" class="btn btn-success btn-sm">Small Button</a>
          </p>
          <p>
            <a href="#" class="btn btn-success btn-xs">Extra Small</a>
          </p>
        </div>
        <div class="col-sm-6 col-xl-3">
          <p>
            <a href="#" class="btn btn-info btn-lg">Large Button</a>
          </p>
          <p>
            <a href="#" class="btn btn-info">Medium Button</a>
          </p>
          <p>
            <a href="#" class="btn btn-info btn-sm">Small Button</a>
          </p>
          <p>
            <a href="#" class="btn btn-info btn-xs">Extra Small</a>
          </p>
        </div>
        <div class="col-sm-6 col-xl-3">
          <p>
            <a href="#" class="btn btn-warning btn-lg">Large Button</a>
          </p>
          <p>
            <a href="#" class="btn btn-warning">Medium Button</a>
          </p>
          <p>
            <a href="#" class="btn btn-warning btn-sm">Small Button</a>
          </p>
          <p>
            <a href="#" class="btn btn-warning btn-xs">Extra Small</a>
          </p>
        </div>
        <div class="col-sm-6 col-xl-3">
          <p>
            <a href="#" class="btn btn-danger btn-lg">Large Button</a>
          </p>
          <p>
            <a href="#" class="btn btn-danger">Medium Button</a>
          </p>
          <p>
            <a href="#" class="btn btn-danger btn-sm">Small Button</a>
          </p>
          <p>
            <a href="#" class="btn btn-danger btn-xs">Extra Small</a>
          </p>
        </div>
      </div>
  
      <div class="spacer"></div>
  
      <div class="row mt-4">
        <div class="col-sm-6 col-xl-3">
          <p>
            <a href="#" class="btn btn-success btn-outline btn-lg">Large Button</a>
          </p>
          <p>
            <a href="#" class="btn btn-success btn-outline">Medium Button</a>
          </p>
          <p>
            <a href="#" class="btn btn-success btn-outline btn-sm">Small Button</a>
          </p>
          <p>
            <a href="#" class="btn btn-success btn-outline btn-xs">Extra Small</a>
          </p>
        </div>
        <div class="col-sm-6 col-xl-3">
          <p>
            <a href="#" class="btn btn-info btn-outline btn-lg">Large Button</a>
          </p>
          <p>
            <a href="#" class="btn btn-info btn-outline">Medium Button</a>
          </p>
          <p>
            <a href="#" class="btn btn-info btn-outline btn-sm">Small Button</a>
          </p>
          <p>
            <a href="#" class="btn btn-info btn-outline btn-xs">Extra Small</a>
          </p>
        </div>
        <div class="col-sm-6 col-xl-3">
          <p>
            <a href="#" class="btn btn-warning btn-outline btn-lg">Large Button</a>
          </p>
          <p>
            <a href="#" class="btn btn-warning btn-outline">Medium Button</a>
          </p>
          <p>
            <a href="#" class="btn btn-warning btn-outline btn-sm">Small Button</a>
          </p>
          <p>
            <a href="#" class="btn btn-warning btn-outline btn-xs">Extra Small</a>
          </p>
        </div>
        <div class="col-sm-6 col-xl-3">
          <p>
            <a href="#" class="btn btn-danger btn-outline btn-lg">Large Button</a>
          </p>
          <p>
            <a href="#" class="btn btn-danger btn-outline">Medium Button</a>
          </p>
          <p>
            <a href="#" class="btn btn-danger btn-outline btn-sm">Small Button</a>
          </p>
          <p>
            <a href="#" class="btn btn-danger btn-outline btn-xs">Extra Small</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5 mb-5">
    <div class="col">
      <h5 class="pb-4">Forms</h5>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label class="control-label" for="input-default">Default Input</label>
            <input type="text" class="form-control" id="input-default" placeholder="Your placeholder text...">
          </div>
          <div class="form-group">
            <label class="control-label" for="input-default-2">Disabled Input</label>
            <input type="text" class="form-control" id="input-default-2" placeholder="Your placeholder text..." disabled>
          </div>
          <div class="form-group">
            <label class="control-label" for="select-default">Select Input</label>
            <select name="select-default" id="select-default" class="form-control">
              <option value="Canada">Canada</option>
              <option value="Italy">Italy</option>
              <option value="Spain">Spain</option>
              <option value="Greece">Greece</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group has-success">
            <label class="control-label" for="input-default-3">Success input</label>
            <input type="text" class="form-control" id="input-default-3" placeholder="Your placeholder text...">
          </div>
          <div class="form-group has-warning">
            <label class="control-label" for="input-default-4">Warning input</label>
            <input type="text" class="form-control" id="input-default-4" placeholder="Your placeholder text...">
          </div>
          <div class="form-group has-error">
            <label class="control-label" for="input-default-5">Error input</label>
            <input type="text" class="form-control" id="input-default-5" placeholder="Your placeholder text...">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label class="control-label" for="textarea">Textarea</label>
            <textarea class="form-control" name="textarea" id="textarea" rows="11" placeholder="Your placeholder text..."></textarea>
          </div>
        </div>
        <div class="col-md-3">
          <h6>Checkboxes</h6>
          <div class="form-group">
            <label class="checkbox checkbox-inline mr-2">
              <input type="checkbox" id="inlineCheckbox1" value="option1" checked> Checked
              <span class="checkbox-indicator"></span>
            </label>
            <label class="checkbox checkbox-inline mr-2">
              <input type="checkbox" id="inlineCheckbox2" value="option2"> Unchecked
              <span class="checkbox-indicator"></span>
            </label>
            <label class="checkbox checkbox-inline mr-2 disabled">
              <input type="checkbox" id="inlineCheckbox3" value="option3" disabled> Disabled
              <span class="checkbox-indicator"></span>
            </label>
          </div>
  
          <div class="pt-4"></div>
  
          <h6>Radio Buttons</h6>
          <div class="form-group">
            <label class="radio radio-inline mr-2">
              <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked> Selected
              <span class="radio-indicator"></span>
            </label>
            <label class="radio radio-inline mr-2">
              <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Unselected
              <span class="radio-indicator"></span>
            </label>
            <label class="radio radio-inline mr-2 disabled">
              <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" disabled> Disabled
              <span class="radio-indicator"></span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
