<!-- Header Posts -->
<div class="container">
    <div class="posts posts--tile posts--tile-alt post-grid grid-layout grid-layout--1-2-1 posts--tile-alt-nopaddings posts--tile-hero-post-grid posts--tile-meta-position">

        <div class="post-grid__item posts__item posts__item--tile posts__item--category-2 ">
            <figure class="posts__thumb h-100">
                <img src="assets/images/esports/samples/post-img2-grid.jpg" alt="" class="h-100">
                <a href="_esports_blog-post-1.html" class="posts__item-link-overlay"></a>
                <div class="posts__inner posts__inner--noactive">
                    <div class="posts__cat">
                        <span class="label posts__cat-label posts__cat-label--category-2">L.O. Heroes</span>
                    </div>
                    <h6 class="posts__title posts__title--lg"><a href="_esports_blog-post-1.html">The Alchemists reach to the Xenowatch finals</a></h6>
                    <time datetime="2018-08-23" class="posts__date">October 24th, 2018</time>
                    <ul class="post__meta meta">
                        <li class="meta__item meta__item--views">2369</li>
                        <li class="meta__item meta__item--likes"><a href="#"><i class="meta-like icon-heart"></i> 530</a></li>
                        <li class="meta__item meta__item--comments"><a href="#">18</a></li>
                    </ul>
                    <div class="posts__excerpt">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, exercitation ullamco laboris nisi ut aliquip ex sed do...
                    </div>
                </div>
            </figure>
            <a href="_esports_blog-post-1.html" class="posts__cta"></a>
        </div>
        <div class="post-grid__item posts__item posts__item--tile posts__item--category-1 posts__item--category-4 ">
            <figure class="posts__thumb h-100">
                <img src="assets/images/esports/samples/post-img9-grid.jpg" alt="" class="h-100">
                <a href="_esports_blog-post-1.html" class="posts__item-link-overlay"></a>
                <div class="posts__inner posts__inner--noactive">
                    <div class="posts__cat">
                        <span class="label posts__cat-label posts__cat-label--category-1">The Team</span><span class="label posts__cat-label posts__cat-label--category-4">Xenowatch</span>
                    </div>
                    <h6 class="posts__title "><a href="_esports_blog-post-1.html">Destroy will stream the Mercenaries mission</a></h6>
                    <time datetime="2018-08-23" class="posts__date">August 27th, 2018</time>
                    <ul class="post__meta meta">
                        <li class="meta__item meta__item--views">2369</li>
                        <li class="meta__item meta__item--likes"><a href="#"><i class="meta-like icon-heart"></i> 530</a></li>
                        <li class="meta__item meta__item--comments"><a href="#">18</a></li>
                    </ul>
                    <div class="posts__excerpt">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do...
                    </div>
                </div>
            </figure>
            <a href="_esports_blog-post-1.html" class="posts__cta"></a>
        </div>
        <div class="post-grid__item posts__item posts__item--tile posts__item--category-2 ">
            <figure class="posts__thumb h-100">
                <img src="assets/images/esports/samples/post-img10-grid.jpg" alt="" class="h-100">
                <a href="_esports_blog-post-1.html" class="posts__item-link-overlay"></a>
                <div class="posts__inner posts__inner--noactive">
                    <div class="posts__cat">
                        <span class="label posts__cat-label posts__cat-label--category-2">L.O. Heroes</span>
                    </div>
                    <h6 class="posts__title "><a href="_esports_blog-post-1.html">The story behind Rurouni and his Robot Guardian</a></h6>
                    <time datetime="2018-08-23" class="posts__date">August 16th, 2018</time>
                    <ul class="post__meta meta">
                        <li class="meta__item meta__item--views">2369</li>
                        <li class="meta__item meta__item--likes"><a href="#"><i class="meta-like icon-heart"></i> 530</a></li>
                        <li class="meta__item meta__item--comments"><a href="#">18</a></li>
                    </ul>
                    <div class="posts__excerpt">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do...
                    </div>
                </div>
            </figure>
            <a href="_esports_blog-post-1.html" class="posts__cta"></a>
        </div>
        <div class="post-grid__item posts__item posts__item--tile posts__item--category-3 ">
            <figure class="posts__thumb h-100">
                <img src="assets/images/esports/samples/post-img15-grid.jpg" alt="" class="h-100">
                <a href="_esports_blog-post-1.html" class="posts__item-link-overlay"></a>
                <div class="posts__inner posts__inner--noactive">
                    <div class="posts__cat">
                        <span class="label posts__cat-label posts__cat-label--category-3">Striker GO</span>
                    </div>
                    <h6 class="posts__title "><a href="_esports_blog-post-1.html">New stealth missions for the strikers mode</a></h6>
                    <time datetime="2018-08-23" class="posts__date">July 3rd, 2018</time>
                    <ul class="post__meta meta">
                        <li class="meta__item meta__item--views">2369</li>
                        <li class="meta__item meta__item--likes"><a href="#"><i class="meta-like icon-heart"></i> 530</a></li>
                        <li class="meta__item meta__item--comments"><a href="#">18</a></li>
                    </ul>
                    <div class="posts__excerpt">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed exercitation ullamco laboris nisi ut enim ad minim veniam aliquip ex...
                    </div>
                </div>
            </figure>
            <a href="_esports_blog-post-1.html" class="posts__cta"></a>
        </div>

    </div>
</div>

<!-- Content
		================================================== -->
		<div class="site-content">
			<div class="container">		
				<div class="row">
					<!-- Content -->
					<div class="content col-lg-8">
		
						<!-- Posts Area #1 -->
						<!-- Posts Grid -->
						<div class="posts posts--tile posts--tile-alt post-grid row">
		
							<div class="post-grid__item col-sm-6">
								<div class="posts__item posts__item--tile posts__item--category-1 posts__item--category-4  card">
									<figure class="posts__thumb">
										<img src="assets/images/esports/samples/post-img1-card.jpg" alt="">
										<a href="_esports_blog-post-1.html" class="posts__item-link-overlay"></a>
										<div class="posts__inner posts__inner--noactive">
											<div class="posts__cat">
												<span class="label posts__cat-label posts__cat-label--category-1">The Team</span><span class="label posts__cat-label posts__cat-label--category-4">Xenowatch</span>
											</div>
											<h6 class="posts__title">The Alchemists reach to the Xenowatch finals</h6>
											<time datetime="2018-08-23" class="posts__date">August 27th, 2018</time>
											<div class="posts__excerpt">
												Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do...
											</div>
										</div>
									</figure>
									<a href="_esports_blog-post-1.html" class="posts__cta"></a>
									<footer class="posts__footer card__footer">
										<div class="post-author">
											<figure class="post-author__avatar">
												<img src="assets/images/esports/samples/avatar-12-xs.jpg" alt="Post Author Avatar">
											</figure>
											<div class="post-author__info">
												<h4 class="post-author__name">Erick Rodgers</h4>
											</div>
										</div>
										<ul class="post__meta meta">
											<li class="meta__item meta__item--views">2369</li>
											<li class="meta__item meta__item--likes"><a href="#"><i class="meta-like icon-heart"></i> 530</a></li>
											<li class="meta__item meta__item--comments"><a href="#">18</a></li>
										</ul>
									</footer>
								</div>
							</div>
							<div class="post-grid__item col-sm-6">
								<div class="posts__item posts__item--tile posts__item--category-2  card">
									<figure class="posts__thumb">
										<img src="assets/images/esports/samples/post-img2-card.jpg" alt="">
										<a href="_esports_blog-post-1.html" class="posts__item-link-overlay"></a>
										<div class="posts__inner posts__inner--noactive">
											<div class="posts__cat">
												<span class="label posts__cat-label posts__cat-label--category-2">L.O. Heroes</span>
											</div>
											<h6 class="posts__title">A new mage character is coming to the league</h6>
											<time datetime="2018-08-23" class="posts__date">August 23rd, 2018</time>
											<div class="posts__excerpt">
												Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do...
											</div>
										</div>
									</figure>
									<a href="_esports_blog-post-1.html" class="posts__cta"></a>
									<footer class="posts__footer card__footer">
										<div class="post-author">
											<figure class="post-author__avatar">
												<img src="assets/images/esports/samples/avatar-6-xs.jpg" alt="Post Author Avatar">
											</figure>
											<div class="post-author__info">
												<h4 class="post-author__name">Lagertha Dax</h4>
											</div>
										</div>
										<ul class="post__meta meta">
											<li class="meta__item meta__item--views">2369</li>
											<li class="meta__item meta__item--likes"><a href="#"><i class="meta-like icon-heart"></i> 530</a></li>
											<li class="meta__item meta__item--comments"><a href="#">18</a></li>
										</ul>
									</footer>
								</div>
							</div>
							<div class="post-grid__item col-sm-6">
								<div class="posts__item posts__item--tile posts__item--category-1 posts__item--category-3  card">
									<figure class="posts__thumb">
										<img src="assets/images/esports/samples/post-img3-card.jpg" alt="">
										<a href="_esports_blog-post-1.html" class="posts__item-link-overlay"></a>
										<div class="posts__inner posts__inner--noactive">
											<div class="posts__cat">
												<span class="label posts__cat-label posts__cat-label--category-1">The Team</span><span class="label posts__cat-label posts__cat-label--category-3">Striker GO</span>
											</div>
											<h6 class="posts__title">The Team defeated the L.A. Pirates 2-1 in the Pro League Quarterfinals</h6>
											<time datetime="2018-08-23" class="posts__date">July 28th, 2018</time>
											<div class="posts__excerpt">
												Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do...
											</div>
										</div>
									</figure>
									<a href="_esports_blog-post-1.html" class="posts__cta"></a>
									<footer class="posts__footer card__footer">
										<div class="post-author">
											<figure class="post-author__avatar">
												<img src="assets/images/esports/samples/avatar-6-xs.jpg" alt="Post Author Avatar">
											</figure>
											<div class="post-author__info">
												<h4 class="post-author__name">Lagertha Dax</h4>
											</div>
										</div>
										<ul class="post__meta meta">
											<li class="meta__item meta__item--views">2369</li>
											<li class="meta__item meta__item--likes"><a href="#"><i class="meta-like icon-heart"></i> 530</a></li>
											<li class="meta__item meta__item--comments"><a href="#">18</a></li>
										</ul>
									</footer>
								</div>
							</div>
							<div class="post-grid__item col-sm-6">
								<div class="posts__item posts__item--tile posts__item--category-4  card">
									<figure class="posts__thumb">
										<img src="assets/images/esports/samples/post-img4-card.jpg" alt="">
										<a href="_esports_blog-post-1.html" class="posts__item-link-overlay"></a>
										<div class="posts__inner posts__inner--noactive">
											<div class="posts__cat">
												<span class="label posts__cat-label posts__cat-label--category-4">Xenowatch</span>
											</div>
											<h6 class="posts__title">Xenowatch&#x27;s new patch will fix the faces bugs</h6>
											<time datetime="2018-08-23" class="posts__date">July 24th, 2018</time>
											<div class="posts__excerpt">
												Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do...
											</div>
										</div>
									</figure>
									<a href="_esports_blog-post-1.html" class="posts__cta"></a>
									<footer class="posts__footer card__footer">
										<div class="post-author">
											<figure class="post-author__avatar">
												<img src="assets/images/esports/samples/avatar-6-xs.jpg" alt="Post Author Avatar">
											</figure>
											<div class="post-author__info">
												<h4 class="post-author__name">Lagertha Dax</h4>
											</div>
										</div>
										<ul class="post__meta meta">
											<li class="meta__item meta__item--views">2369</li>
											<li class="meta__item meta__item--likes"><a href="#"><i class="meta-like icon-heart"></i> 530</a></li>
											<li class="meta__item meta__item--comments"><a href="#">18</a></li>
										</ul>
									</footer>
								</div>
							</div>
							<div class="post-grid__item col-sm-6">
								<div class="posts__item posts__item--tile posts__item--category-2  card">
									<figure class="posts__thumb">
										<img src="assets/images/esports/samples/post-img5-card.jpg" alt="">
										<a href="_esports_blog-post-1.html" class="posts__item-link-overlay"></a>
										<div class="posts__inner posts__inner--noactive">
											<div class="posts__cat">
												<span class="label posts__cat-label posts__cat-label--category-2">L.O. Heroes</span>
											</div>
											<h6 class="posts__title">A new class is added to the human&#x27;s race</h6>
											<time datetime="2018-08-23" class="posts__date">July 16th, 2018</time>
											<div class="posts__excerpt">
												Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do...
											</div>
										</div>
									</figure>
									<a href="_esports_blog-post-1.html" class="posts__cta"></a>
									<footer class="posts__footer card__footer">
										<div class="post-author">
											<figure class="post-author__avatar">
												<img src="assets/images/esports/samples/avatar-6-xs.jpg" alt="Post Author Avatar">
											</figure>
											<div class="post-author__info">
												<h4 class="post-author__name">Lagertha Dax</h4>
											</div>
										</div>
										<ul class="post__meta meta">
											<li class="meta__item meta__item--views">2369</li>
											<li class="meta__item meta__item--likes"><a href="#"><i class="meta-like icon-heart"></i> 530</a></li>
											<li class="meta__item meta__item--comments"><a href="#">18</a></li>
										</ul>
									</footer>
								</div>
							</div>
							<div class="post-grid__item col-sm-6">
								<div class="posts__item posts__item--tile posts__item--category-1  card">
									<figure class="posts__thumb">
										<img src="assets/images/esports/samples/post-img6-card.jpg" alt="">
										<a href="_esports_blog-post-1.html" class="posts__item-link-overlay"></a>
										<div class="posts__inner posts__inner--noactive">
											<div class="posts__cat">
												<span class="label posts__cat-label posts__cat-label--category-1">The Team</span>
											</div>
											<h6 class="posts__title">The Alchemists welcome &quot;Logan-X&quot; to the team</h6>
											<time datetime="2018-08-23" class="posts__date">June 3rd, 2018</time>
											<div class="posts__excerpt">
												Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do...
											</div>
										</div>
									</figure>
									<a href="_esports_blog-post-1.html" class="posts__cta"></a>
									<footer class="posts__footer card__footer">
										<div class="post-author">
											<figure class="post-author__avatar">
												<img src="assets/images/esports/samples/avatar-12-xs.jpg" alt="Post Author Avatar">
											</figure>
											<div class="post-author__info">
												<h4 class="post-author__name">Eric Rodgers</h4>
											</div>
										</div>
										<ul class="post__meta meta">
											<li class="meta__item meta__item--views">2369</li>
											<li class="meta__item meta__item--likes"><a href="#"><i class="meta-like icon-heart"></i> 530</a></li>
											<li class="meta__item meta__item--comments"><a href="#">18</a></li>
										</ul>
									</footer>
								</div>
							</div>
							<div class="post-grid__item col-sm-6">
								<div class="posts__item posts__item--tile posts__item--category-1 posts__item--category-4  card">
									<figure class="posts__thumb">
										<img src="assets/images/esports/samples/post-img7-card.jpg" alt="">
										<a href="_esports_blog-post-1.html" class="posts__item-link-overlay"></a>
										<div class="posts__inner posts__inner--noactive">
											<div class="posts__cat">
												<span class="label posts__cat-label posts__cat-label--category-1">The Team</span><span class="label posts__cat-label posts__cat-label--category-4">Xenowatch</span>
											</div>
											<h6 class="posts__title">Kelly_Spiegel9 joins the Xenowatch team</h6>
											<time datetime="2018-08-23" class="posts__date">May 15th, 2018</time>
											<div class="posts__excerpt">
												Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do...
											</div>
										</div>
									</figure>
									<a href="_esports_blog-post-1.html" class="posts__cta"></a>
									<footer class="posts__footer card__footer">
										<div class="post-author">
											<figure class="post-author__avatar">
												<img src="assets/images/esports/samples/avatar-12-xs.jpg" alt="Post Author Avatar">
											</figure>
											<div class="post-author__info">
												<h4 class="post-author__name">Eric Rodgers</h4>
											</div>
										</div>
										<ul class="post__meta meta">
											<li class="meta__item meta__item--views">2369</li>
											<li class="meta__item meta__item--likes"><a href="#"><i class="meta-like icon-heart"></i> 530</a></li>
											<li class="meta__item meta__item--comments"><a href="#">18</a></li>
										</ul>
									</footer>
								</div>
							</div>
		
							<div class="post-grid__item col-sm-6">
								<div class="post-grid__item">
									<div class="posts__item posts__item--tile posts__item--tile-sm posts__item--category-3  card">
										<figure class="posts__thumb">
											<img src="assets/images/esports/samples/post-img11-card-sm.jpg" alt="">
											<div class="posts__inner">
												<div class="posts__cat">
													<span class="label posts__cat-label posts__cat-label--category-3">Striker GO</span>
												</div>
												<h6 class="posts__title posts__title--color-hover"><a href="_esports_blog-post-1.html">The New AR Rifle 245 will be awarded as a prize</a></h6>
												<time datetime="2018-08-23" class="posts__date">August 27th, 2018</time>
											</div>
										</figure>
										<footer class="posts__footer card__footer">
											<div class="post-author">
												<figure class="post-author__avatar">
													<img src="assets/images/esports/samples/avatar-12-xs.jpg" alt="Post Author Avatar">
												</figure>
												<div class="post-author__info">
													<h4 class="post-author__name">Erick Rodgers</h4>
												</div>
											</div>
											<ul class="post__meta meta">
												<li class="meta__item meta__item--views">2369</li>
												<li class="meta__item meta__item--likes"><a href="#"><i class="meta-like icon-heart"></i> 530</a></li>
												<li class="meta__item meta__item--comments"><a href="#">18</a></li>
											</ul>
										</footer>
									</div>
								</div>
								<div class="post-grid__item">
									<div class="posts__item posts__item--tile posts__item--tile-sm posts__item--category-4  card">
										<figure class="posts__thumb">
											<img src="assets/images/esports/samples/post-img13-card-sm.jpg" alt="">
											<div class="posts__inner">
												<div class="posts__cat">
													<span class="label posts__cat-label posts__cat-label--category-4">Xenowatch</span>
												</div>
												<h6 class="posts__title posts__title--color-hover"><a href="_esports_blog-post-1.html">New modes are coming in the April update</a></h6>
												<time datetime="2018-08-23" class="posts__date">August 23rd, 2018</time>
											</div>
										</figure>
										<footer class="posts__footer card__footer">
											<div class="post-author">
												<figure class="post-author__avatar">
													<img src="assets/images/esports/samples/avatar-6-xs.jpg" alt="Post Author Avatar">
												</figure>
												<div class="post-author__info">
													<h4 class="post-author__name">Lagertha Dax</h4>
												</div>
											</div>
											<ul class="post__meta meta">
												<li class="meta__item meta__item--views">2369</li>
												<li class="meta__item meta__item--likes"><a href="#"><i class="meta-like icon-heart"></i> 530</a></li>
												<li class="meta__item meta__item--comments"><a href="#">18</a></li>
											</ul>
										</footer>
									</div>
								</div>
							</div>
		
						</div>
						<!-- Post Grid / End -->
						<!-- Posts Area #1 / End -->
		
						<!-- Posts Area #2 -->
						<!-- Posts Grid -->
						<div class="posts posts--tile posts--tile-alt post-grid row">
		
							<div class="post-grid__item col-sm-12">
								<div class="posts__item posts__item--tile posts__item--tile-lg posts__item--category-2  card">
									<figure class="posts__thumb">
										<img src="assets/images/esports/samples/post-img12-lg.jpg" alt="">
										<div class="posts__inner">
											<div class="posts__cat">
												<span class="label posts__cat-label posts__cat-label--category-2">L.O. Heroes</span>
											</div>
											<h6 class="posts__title posts__title--color-hover"><a href="_esports_blog-post-1.html">League of Heroes &quot;Jaxxy&quot; character is gonna a really big update</a></h6>
											<time datetime="2018-08-23" class="posts__date">May 14th, 2018</time>
										</div>
									</figure>
									<a href="_esports_blog-post-1.html" class="posts__cta"></a>
									<footer class="posts__footer card__footer">
										<div class="post-author">
											<figure class="post-author__avatar">
												<img src="assets/images/esports/samples/avatar-12-xs.jpg" alt="Post Author Avatar">
											</figure>
											<div class="post-author__info">
												<h4 class="post-author__name">Erick Rodgers</h4>
											</div>
										</div>
										<ul class="post__meta meta">
											<li class="meta__item meta__item--views">2369</li>
											<li class="meta__item meta__item--likes"><a href="#"><i class="meta-like icon-heart"></i> 530</a></li>
											<li class="meta__item meta__item--comments"><a href="#">18</a></li>
										</ul>
									</footer>
								</div>
							</div>
							<div class="post-grid__item col-sm-6">
								<div class="posts__item posts__item--tile  posts__item--category-1  card">
									<figure class="posts__thumb">
										<img src="assets/images/esports/samples/post-img14-card.jpg" alt="">
										<div class="posts__inner">
											<div class="posts__cat">
												<span class="label posts__cat-label posts__cat-label--category-1">Team</span>
											</div>
											<h6 class="posts__title posts__title--color-hover"><a href="_esports_blog-post-1.html">The team is going to New York for the Finals</a></h6>
											<time datetime="2018-08-23" class="posts__date">March 17th, 2018</time>
										</div>
									</figure>
									<a href="_esports_blog-post-1.html" class="posts__cta"></a>
									<footer class="posts__footer card__footer">
										<div class="post-author">
											<figure class="post-author__avatar">
												<img src="assets/images/esports/samples/avatar-6-xs.jpg" alt="Post Author Avatar">
											</figure>
											<div class="post-author__info">
												<h4 class="post-author__name">Lagertha Dax</h4>
											</div>
										</div>
										<ul class="post__meta meta">
											<li class="meta__item meta__item--views">2369</li>
											<li class="meta__item meta__item--likes"><a href="#"><i class="meta-like icon-heart"></i> 530</a></li>
											<li class="meta__item meta__item--comments"><a href="#">18</a></li>
										</ul>
									</footer>
								</div>
							</div>
							<div class="post-grid__item col-sm-6">
								<div class="posts__item posts__item--tile  posts__item--category-3  card">
									<figure class="posts__thumb">
										<img src="assets/images/esports/samples/post-img8-card.jpg" alt="">
										<div class="posts__inner">
											<div class="posts__cat">
												<span class="label posts__cat-label posts__cat-label--category-3">Striker GO</span>
											</div>
											<h6 class="posts__title posts__title--color-hover"><a href="_esports_blog-post-1.html">New Tech vehicles will be added in July&#x27;s patch</a></h6>
											<time datetime="2018-08-23" class="posts__date">April 1st, 2018</time>
										</div>
									</figure>
									<a href="_esports_blog-post-1.html" class="posts__cta"></a>
									<footer class="posts__footer card__footer">
										<div class="post-author">
											<figure class="post-author__avatar">
												<img src="assets/images/esports/samples/avatar-6-xs.jpg" alt="Post Author Avatar">
											</figure>
											<div class="post-author__info">
												<h4 class="post-author__name">Lagertha Dax</h4>
											</div>
										</div>
										<ul class="post__meta meta">
											<li class="meta__item meta__item--views">2369</li>
											<li class="meta__item meta__item--likes"><a href="#"><i class="meta-like icon-heart"></i> 530</a></li>
											<li class="meta__item meta__item--comments"><a href="#">18</a></li>
										</ul>
									</footer>
								</div>
							</div>
		
						</div>
						<!-- Post Grid / End -->
						<!-- Posts Area #2 / End -->
		
						<!-- Posts Area #3 -->
						<!-- Latest Videos -->
						<div class="card card--clean">
							<header class="card__header card__header--has-btn">
								<h4>Latest Videos</h4>
								<a href="_esports_team-videos.html" class="btn btn-default btn-xs card-header__button">See All Videos</a>
							</header>
							<div class="card__content">
								<!-- Posts - Videos -->
								<div class="posts posts--card-compact row">
		
									<div class="post-grid__item post-tag-1 post-tag-4  col-sm-12">
										<div class="posts__item posts__item--category-1 posts__item--category-4  posts__item--lg card">
											<figure class="posts__thumb posts__thumb--video">
												<a href="https://www.youtube.com/watch?v&#x3D;XE0fU9PCrWE" class="mp_iframe"><img src="assets/images/esports/samples/post-img9-lg.jpg" alt=""></a>
											</figure>
											<div class="posts__inner card__content">
												<div class="posts__cat">
													<span class="label posts__cat-label posts__cat-label--category-1">The Team</span><span class="label posts__cat-label posts__cat-label--category-4">Xenowatch</span>
												</div>
												<h6 class="posts__title posts__title--color-hover"><a href="_esports_team-video-single.html">Destroy played the first mission of the Mercenaries update with Kelly and Saki</a></h6>
												<ul class="post__meta meta">
													<li class="meta__item meta__item--date">August 27th, 2018</li>
													<li class="meta__item meta__item--views">2369</li>
													<li class="meta__item meta__item--likes"><a href="#"><i class="meta-like icon-heart"></i> 530</a></li>
													<li class="meta__item meta__item--comments"><a href="#">18</a></li>
												</ul>
											</div>
										</div>
									</div>
									<div class="post-grid__item post-tag-3  col-sm-6 col-lg-6">
										<div class="posts__item posts__item--category-3   card">
											<figure class="posts__thumb posts__thumb--video">
												<a href="https://www.youtube.com/watch?v&#x3D;XE0fU9PCrWE" class="mp_iframe"><img src="assets/images/esports/samples/team-video2.jpg" alt=""></a>
											</figure>
											<div class="posts__inner card__content">
												<div class="posts__cat">
													<span class="label posts__cat-label posts__cat-label--category-3">Striker GO</span>
												</div>
												<h6 class="posts__title posts__title--color-hover"><a href="_esports_team-video-single.html">Tech pirates are having a huge arsenal upgrade this October</a></h6>
												<ul class="post__meta meta">
													<li class="meta__item meta__item--date">August 27th, 2018</li>
													<li class="meta__item meta__item--views">2369</li>
													<li class="meta__item meta__item--likes"><a href="#"><i class="meta-like icon-heart"></i> 530</a></li>
													<li class="meta__item meta__item--comments"><a href="#">18</a></li>
												</ul>
											</div>
										</div>
									</div>
									<div class="post-grid__item post-tag-1 post-tag-2  col-sm-6 col-lg-6">
										<div class="posts__item posts__item--category-1 posts__item--category-2   card">
											<figure class="posts__thumb posts__thumb--video">
												<a href="https://www.youtube.com/watch?v&#x3D;XE0fU9PCrWE" class="mp_iframe"><img src="assets/images/esports/samples/team-video3.jpg" alt=""></a>
											</figure>
											<div class="posts__inner card__content">
												<div class="posts__cat">
													<span class="label posts__cat-label posts__cat-label--category-1">The Team</span><span class="label posts__cat-label posts__cat-label--category-2">L.O. Heroes</span>
												</div>
												<h6 class="posts__title posts__title--color-hover"><a href="_esports_team-video-single.html">Watch The Alchemists vs The Sharks in the Heroes Razz Tournament</a></h6>
												<ul class="post__meta meta">
													<li class="meta__item meta__item--date">August 27th, 2018</li>
													<li class="meta__item meta__item--views">2369</li>
													<li class="meta__item meta__item--likes"><a href="#"><i class="meta-like icon-heart"></i> 530</a></li>
													<li class="meta__item meta__item--comments"><a href="#">18</a></li>
												</ul>
											</div>
										</div>
									</div>
		
								</div>
								<!-- Posts - Videos / End -->
							</div>
						</div>
						<!-- Latest Videos / End -->
						<!-- Posts Area #3 / End -->
		
					</div>
					<!-- Content / End -->
		
					<!-- Sidebar -->
					<div id="sidebar" class="sidebar col-lg-4">
		
						<!-- Widget: Social Buttons -->
						<aside class="widget widget--sidebar widget-social widget-social--buttons">
							<a href="#" class="btn-social-counter btn-social-counter--fb" target="_blank">
								<div class="btn-social-counter__icon">
									<i class="fab fa-facebook"></i>
								</div>
								<h6 class="btn-social-counter__title">Like Our Facebook Page</h6>
								<span class="btn-social-counter__count"><span class="btn-social-counter__count-num"></span> Likes</span>
								<span class="btn-social-counter__add-icon"></span>
							</a>
							<a href="#" class="btn-social-counter btn-social-counter--twitter" target="_blank">
								<div class="btn-social-counter__icon">
									<i class="fab fa-twitter"></i>
								</div>
								<h6 class="btn-social-counter__title">Follow Us on Twitter</h6>
								<span class="btn-social-counter__count"><span class="btn-social-counter__count-num"></span> Followers</span>
								<span class="btn-social-counter__add-icon"></span>
							</a>
							<a href="#" class="btn-social-counter btn-social-counter--twitch" target="_blank">
								<div class="btn-social-counter__icon">
									<i class="fab fa-twitch"></i>
								</div>
								<h6 class="btn-social-counter__title">Follow Us on Twitch</h6>
								<span class="btn-social-counter__count"><span class="btn-social-counter__count-num"></span> Subs</span>
								<span class="btn-social-counter__add-icon"></span>
							</a>
							<a href="#" class="btn-social-counter btn-social-counter--youtube" target="_blank">
								<div class="btn-social-counter__icon">
									<i class="fab fa-youtube"></i>
								</div>
								<h6 class="btn-social-counter__title">Follow Us on YouTube</h6>
								<span class="btn-social-counter__count"><span class="btn-social-counter__count-num"></span> Subs</span>
								<span class="btn-social-counter__add-icon"></span>
							</a>
							<a href="#" class="btn-social-counter btn-social-counter--rss" target="_blank">
								<div class="btn-social-counter__icon">
									<i class="fas fa-rss"></i>
								</div>
								<h6 class="btn-social-counter__title">Subscribe to Our RSS</h6>
								<span class="btn-social-counter__count"><span class="btn-social-counter__count-num">840</span> Subs</span>
								<span class="btn-social-counter__add-icon"></span>
							</a>
							<a href="#" class="btn-social-counter btn-social-counter--instagram" target="_blank">
								<div class="btn-social-counter__icon">
									<i class="fab fa-instagram"></i>
								</div>
								<h6 class="btn-social-counter__title">Follow Us on Instagram</h6>
								<span class="btn-social-counter__count"><span class="btn-social-counter__count-num"></span> Followers</span>
								<span class="btn-social-counter__add-icon"></span>
							</a>
						</aside>
						<!-- Widget: Social Buttons / End -->
		
						<!-- Widget: Twitch Streams -->
						<aside class="widget widget--sidebar widget-twitch">
							<div class="twitch-streams">
						
								<!-- Stream #0 -->
								<div class="twitch-stream-wrapper">
									<a href="#" class="twitch-stream twitch-stream--featured twitch-stream--has-video card">
										<div class="twitch-stream__overlay twitch-stream__overlay--bg0 effect-duotone effect-duotone--base">
                                            <div class="effect-duotone__layer"><div class="effect-duotone__layer-inner"></div></div>
                                        </div>
										<figure class="twitch-stream__img twitch-stream__img--extra-top">
											<img src="assets/images/esports/samples/twitch-streamer-1.png" alt="">
										</figure>
										<div class="twitch-stream__body">
											<h6 class="twitch-stream__featured">Featured Stream</h6>
											<h5 class="twitch-stream__title">Destroy Plays Xenowatch</h5>
											<div class="twitch-stream__info">Joined by Kelly and Saki</div>
						
											<div class="twitch-stream__status twitch-stream__status--online">Live</div>
						
						
										</div>
									</a>
						
									<div class="twitch-stream-video card">
										<div class="card__content">
											<div class="alc-embeded-player" data-id="amaz" data-controls="false" data-provider="twitch" data-thumbnail="assets/images/esports/samples/twitch-stream-cover.jpg" data-easy-embed>
												<div class="alc-embeded-player__overlay">
													<i class="fas fa-play alc-embeded-player__icon"></i>
												</div>
											</div>
										</div>
									</div>
						
								</div>
								<!-- Stream #0 / End -->
								<!-- Stream #1 -->
								<div class="twitch-stream-wrapper">
									<a href="#" class="twitch-stream   card">
										<div class="twitch-stream__overlay twitch-stream__overlay--bg1 effect-duotone effect-duotone--base">
                                            <div class="effect-duotone__layer"><div class="effect-duotone__layer-inner"></div></div>
                                        </div>
										<figure class="twitch-stream__img ">
											<img src="assets/images/esports/samples/twitch-streamer-2.png" alt="">
										</figure>
										<div class="twitch-stream__body">
											<h5 class="twitch-stream__title">Assassins League Gameplay</h5>
											<div class="twitch-stream__info">We start the adventure mode!</div>
						
											<div class="twitch-stream__status twitch-stream__status--online">Live</div>
						
						
										</div>
									</a>
						
						
								</div>
								<!-- Stream #1 / End -->
								<!-- Stream #2 -->
								<div class="twitch-stream-wrapper">
									<a href="#" class="twitch-stream   card">
										<div class="twitch-stream__overlay twitch-stream__overlay--bg2 effect-duotone effect-duotone--base">
                                            <div class="effect-duotone__layer"><div class="effect-duotone__layer-inner"></div></div>
                                        </div>
										<figure class="twitch-stream__img ">
											<img src="assets/images/esports/samples/twitch-streamer-3.png" alt="">
										</figure>
										<div class="twitch-stream__body">
											<h5 class="twitch-stream__title">League of Heroes: Ether Quest</h5>
											<div class="twitch-stream__info">I’m gonna take the hardest quest</div>
						
						
											<div class="twitch-stream__status twitch-stream__status--scheduled">Starts in: <div class="twitch-stream__countdown-counter countdown-counter" data-date="June 18, 2021 21:00:00"></div></div>
						
										</div>
									</a>
						
						
								</div>
								<!-- Stream #2 / End -->
								<!-- Stream #3 -->
								<div class="twitch-stream-wrapper">
									<a href="#" class="twitch-stream   card">
										<div class="twitch-stream__overlay twitch-stream__overlay--bg3 effect-duotone effect-duotone--base">
                                            <div class="effect-duotone__layer"><div class="effect-duotone__layer-inner"></div></div>
                                        </div>
										<figure class="twitch-stream__img ">
											<img src="assets/images/esports/samples/twitch-streamer-4.png" alt="">
										</figure>
										<div class="twitch-stream__body">
											<h5 class="twitch-stream__title">The Game Huntress&#x27;s Channel</h5>
											<div class="twitch-stream__info">Join me to hunt them all!</div>
						
						
						
											<div class="twitch-stream__status twitch-stream__status--offline">Offline</div>
										</div>
									</a>
						
						
								</div>
								<!-- Stream #3 / End -->
						
						
							</div>
						</aside>
						<!-- Widget: Twitch Streams / End -->
		
					</div>
					<!-- Sidebar / End -->
				</div>
		
			</div>
		</div>
		
		<!-- Content / End -->


        

