<!-- Header
		================================================== -->
		
		<!-- Header Mobile -->
		<div class="header-mobile clearfix" id="header-mobile">
			<div class="header-mobile__logo">
				<a href="#"><img src="assets/images/esports/logo.png" srcset="assets/images/esports/logo@2x.png 2x" alt="Reatr Raptr" class="header-mobile__logo-img"></a>
			</div>
			<div class="header-mobile__inner">
				<a id="header-mobile__toggle" class="burger-menu-icon"><span class="burger-menu-icon__line"></span></a>
				<span class="header-mobile__search-icon" id="header-mobile__search-icon"></span>
			</div>
		</div>
		<!-- Header Mobile / End -->
		
		<!-- Header Desktop -->
		<header class="header header--layout-3">
		
			<!-- Header Top Bar -->
			<div class="header__top-bar clearfix">
				<div class="container">
					<div class="header__top-bar-inner">
			
						<!-- Social Links -->
						<ul class="social-links social-links--inline social-links--main-nav social-links--top-bar">
							<li class="social-links__item">
								<a href="#" class="social-links__link"><i class="fab fa-facebook"></i></a>
							</li>
							<li class="social-links__item">
								<a href="#" class="social-links__link"><i class="fab fa-twitter"></i></a>
							</li>
							<li class="social-links__item">
								<a href="#" class="social-links__link"><i class="fab fa-twitch"></i></a>
							</li>
							<li class="social-links__item">
								<a href="#" class="social-links__link"><i class="fab fa-youtube"></i></a>
							</li>
							<li class="social-links__item">
								<a href="#" class="social-links__link"><i class="fab fa-google-plus-g"></i></a>
							</li>
							<li class="social-links__item">
								<a href="#" class="social-links__link"><i class="fab fa-instagram"></i></a>
							</li>
						</ul>
						<!-- Social Links / End -->
			
						<!-- Account Navigation -->
						<ul class="nav-account">
                            <li class="nav-account__item" *ngIf="accountService.currentUser$ | async"><a href="#">Clever Girl <span class="highlight">Liane</span></a></li>
                            <li class="nav-account__item" *ngIf="accountService.currentUser$ | async"><a href="#">Your Account</a></li>
                            <li class="nav-account__item nav-account__item--logout" *ngIf="accountService.currentUser$ | async"><a (click)="accountService.logout()">Logout</a></li>
							<li class="nav-account__item nav-account__item--logout" *ngIf="(accountService.currentUser$ | async) === null"><a routerLink="/login">Login</a></li>
							<li class="nav-account__item nav-account__item--logout" *ngIf="(accountService.currentUser$ | async) === null"><a routerLink="/register">Register</a></li>
						</ul>
						<!-- Account Navigation / End -->
					</div>
				</div>
			</div>
			<!-- Header Top Bar / End -->
		
			<!-- Header Primary -->
			<div class="header__primary">
				<div class="container">
					<div class="header__primary-inner">
		
						<!-- Header Logo -->
						<div class="header-logo">
							<a routerLink="/"><img src="assets/images/esports/logo.png" srcset="assets/images/esports/logo@2x.png 2x" alt="Reactr Raptr" class="header-logo__img"></a>
						</div>
						<!-- Header Logo / End -->
		
						<!-- Main Navigation -->
						<nav class="main-nav">
							<ul class="main-nav__list">
								<li class="" routerLinkActive="active"><a routerLink="/">Home</a></li>
                                <li class="" routerLinkActive="active"><a href="#">Blog</a></li>
                                <li class="" routerLinkActive="active"><a href="#">Reviews</a></li>
								<li class="" routerLinkActive="active"><a href="#">About</a></li>
								<li class="" routerLinkActive="active"><a href="https://shop.spreadshirt.co.uk/raptrkit/">Raptr Kit</a></li>
						    </ul>
						</nav>
						<!-- Main Navigation / End -->
		
						<div class="header__primary-spacer"></div>
		
						<!-- Header Search Form -->
						<div class="header-search-form ">
							<form action="#" id="mobile-search-form" class="search-form">
								<input type="text" class="form-control header-mobile__search-control" value="" placeholder="Enter your search here...">
								<button type="submit" class="header-mobile__search-submit"><i class="fas fa-search"></i></button>
							</form>
						</div>
						<!-- Header Search Form / End -->
		
					</div>
				</div>
			</div>
			<!-- Header Primary / End -->
		
		</header>
		<!-- Header / End -->